.container{
    color: aliceblue;
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border: solid aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(maryam.jpg);
}

.flex{
    display: flex;
    justify-content:space-between;
    width: 750px;
    height: 50px;
    margin-top: 20px;
}
.item1{
    width: 150px;
    height: 70px;
    background-color: aliceblue;
     border-radius: 10px;
}
.fa-solid{
    font-size: 35px;
    margin-top: 18px;
    margin-left: 5px;
    color: black;

}
.icon1{
    display: inline;
    margin-left: 10px;
    color: black;

}

.item2{
    width: 150px;
    height: 70px;
    background-color: aliceblue;
      border-radius: 10px;
}
.fa-user-tag{
     font-size: 35px;
    margin-top: 18px;
    margin-left: 5px;
    color: black;
}
.icon2{
    display: inline;
    margin-left: 10px;
    color: black;
}


.item3{
    width: 150px;
    height: 70px;
    background-color: aliceblue;
      border-radius: 10px;
}
 .fa-calendar{
     font-size: 35px;
    margin-top: 18px;
    margin-left: 5px;
    color: black;
}
.icon3{
    display: inline;
    margin-left: 10px;
    color: black;
}

.item4{
    width: 150px;
    height: 70px;
     background-color: aliceblue;
      border-radius: 10px;
}
.fa-gauge{
     font-size: 35px;
    margin-top: 18px;
    margin-left: 5px;
    
}
.icon4{
    display: inline;
    margin-left: 10px;
    color: black;
    
}